{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Test images!</h1>
<h2>Masked image to analyse:</h2>

<img id="img1" src="{% static 'images/prepared.png'%}" style="display: none;">
<canvas id="canvas" style="border:1px solid #000000;margin-right:1%;"></canvas>
<img id="img2" src="{% static 'images/stain.png'%}">
<!--canvas id="canvas" style="border:1px solid #000000;"></canvas-->

{% block javascript %}
<script>
    
    var img = document.getElementById("img1");
    var canvas = document.getElementById("canvas");

    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    }

</script>
{% endblock javascript %}

<h3>Data:</h3>
{% for q in st_query %}
<p>Coords:</p>
<p>{{ q.coords }}</p>
<p>Colors_%:</p>
<p>{{ q.st_colors }}</p>
{% endfor %}  

{% endblock content %}