{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/stpx_prep2.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1>This is the StainerPx page!</h1>
<h2>Image to preprocess:</h2>
<h3>Add points, click on image!<span style="color:blue;"> Last point: ( <span id="x"></span> ; <span id="y"></span> )</span></h3>

<img id="img" src="{% static 'images/K_09.24.PNG'%}" style="display: none;"> <!-- width="455" height="613" -->
<canvas id="canvas" style="border:1px solid #000000;display:inline;"></canvas>

<div id = "st_degree">
    
    <p>Select degree/gray zones:</p>
        
        <input type="radio" id="zero" name="stain_degree" value='2'>
        <label for="first">2</label><br>
        <input type="radio" id="first" name="stain_degree" value='6'>
        <label for="first">6</label><br>
        <input type="radio" id="second" name="stain_degree" value='10'>
        <label for="second">10</label><br>
        <input type="radio" id="third" name="stain_degree" value='16' checked>
        <label for="third">16</label>
    
</div>

{% block javascript %}
<script>

    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        MarkPoints();
    }
    canvas.addEventListener("click", GetCoordinates);
    console.log(coords);
    
    $(document).ready(function() {
        $("#next").click(function() {
            var colors = $("input[type=radio][name=stain_degree]:checked").val();
            $.ajax({
                url: "{% url 'coords' %}",
                type: 'POST',
                data: {'coords[]': coords, 'colors': colors, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    if (coords.length > 2) {
                        alert("Success!\nPoints: " + coords);
                        window.location.href = "{% url 'coords' %}";
                    }
                    else {
                        alert("You need pick at least 3 points from the image!");
                    }  
                },
                error: function(response){
                    alert("error");
                }   
            });
        });
    });
    
</script>
{% endblock javascript %}

<!--a href="{% url 'coords' %}" id="next">NEXT</a-->

<div id="coords">
    <button id="next">SEND DATA</button>
    <p><b>Coordinates:</b><br><br><span id="info" style="color:red;"></span><br><br><span id="coordsArr"></span></p>
</div>

{% endblock content %}
