{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/stpx_prep2.js' %}"></script> <!--stpx_prep1.js (remove points)  stpx_prep2.js (remove text/coords)-->
<h1>This is the StainerPx page!</h1>
<h2>Image to preprocess:</h2>

<img id="img" src="{% static 'images/K_09.24.PNG'%}" style="display: none;"> <!-- width="455" height="613" -->
<canvas id="canvas"></canvas> <!--style="border:1px solid #000000;"-->

<script>

    var img = document.getElementById("img");
    var canvas = document.getElementById("canvas");

    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        MarkPoints();
    }
    canvas.onmousedown = GetCoordinates;
    //canvas.addEventListener("click", getPosition);
    
</script>
<div id="pxinfo">
<p> X: <span id="x"></span> Y: <span id="y"></span></p>
</div>
<div id="coords">
<p><b>Coordinates:</b><br><br><span id="coordsArr"></span></p>
</div>
<!--div id="test">
<p><b>Coordinates:</b><br><br><span id="coordsArr"></span></p>
</div-->
{% endblock content %}
